---
import { getI18N } from "@/i18n"
import Layout from "@/layouts/Layout.astro"
import {
	info,
	projects,
} from "@/data/info"
import ProjectsWrapper from "@/components/general/ProjectsWrapper.astro"
import BotWave from "@/components/home/BotWave.astro"
import Experience from "@/components/home/Experience.astro"
import Hero from "@/components/home/Hero.astro"
import TopWave from "@/components/home/TopWave.astro"
import MyStack from "@/components/stack/MyStack.astro"
import Section from "../layout/Section.astro"

const {
	currentLocale,
} =
	Astro

const i18n =
	getI18N(
		{
			currentLocale,
		}
	)

const featureProjects =
	projects.filter(
		(
			project,
			index
		) =>
			project.isFeatured &&
			index <
				6
	)
---

<Layout
	title=`${i18n.SEO_TITLE_1} ${new Date().getFullYear()} ${i18n.SEO_TITLE_2}`
	description={i18n.SEO_DESCRIPTION}
	ogImageUrl={"/assets/images/profile.png"}>
	<Hero
		name={info.name}
		about={info.about}
	/>

	<div
		class="-mb-1 max-h-[340px] w-full">
		<TopWave
		/>
	</div>
	<div
		class="bg-navy-900">
		<MyStack
			title={i18n
				.STACK
				.TITLE}
			stack={info.stack}
		/>
	</div>
	<div
		class="-mt-1 h-32 w-full md:mb-32">
		<BotWave
		/>
	</div>

	<Experience
		title={i18n
			.EXPERIENCE
			.TITLE}
		details={i18n
			.EXPERIENCE
			.LIST}
	/>
	<!-- 	<Experience title={"EDUCATION"} details={info.education} />
		<Experience title={"VOLUNTEERING"} details={info.volunteering} />
		<Experience title={"LANGUAGES"} details={info.languages} />
		<Experience title={"ADD-ONS"} details={info.addOns} /> -->

	<Section
		title={{
			text:
				i18n
					.PROJECTS
					.TITLE,
		}}
		link={{
			label:
				i18n.SEE_ALL,
			to: "/projects",
		}}>
		<ProjectsWrapper
			projects={featureProjects}
		/>
	</Section>
</Layout>
