---
import { getI18N } from "@/i18n";
import Layout from "@/layouts/Layout.astro";
import { info, projects } from "@/data/info";
import Experience from "@/components/home/Experience.astro";
import Hero from "@/components/home/hero/Hero.astro";
import MyStack from "@/components/stack/MyStack.astro";
import Waves from "../layout/Waves.astro";
import ProjectsWrapper from "../general/ProjectsWrapper.astro";
import Section from "../layout/Section.astro";

const { currentLocale } = Astro;

const i18n = getI18N({
  currentLocale,
});

const featureProjects = projects.filter(
  (project, index) => project.isFeatured && index < 6
);
---

<Layout
  title=`${i18n.WEB_TITLE} [${new Date().getFullYear()}] ${i18n.WEB_TITLE_2}`
  description={i18n.WEB_DESCRIPTION}
  ogImageUrl={"/assets/images/profile.png"}
>
  <Hero name={info.name} />

  <Waves
    botWaveColor="navy"
    topWaveColor="watermelon"
    twGradientColors="dark:from-watermelon-600 from-watermelon-400 to-navy-700 dark:to-navy-900"
  >
    <MyStack title={i18n.STACK.TITLE} stack={info.stack} />
  </Waves>

  <Experience title={i18n.EXPERIENCE.TITLE} details={i18n.EXPERIENCE.LIST} />
  <Experience title={i18n.EDUCATION.TITLE} details={i18n.EDUCATION.LIST} />
  <Experience
    title={i18n.VOLUNTEERING.TITLE}
    details={i18n.VOLUNTEERING.LIST}
  />
  <!--<Experience
		title={"LANGUAGES"}
		details={info.languages}
	/>
	<Experience
		title={"ADD-ONS"}
		details={info.addOns}
	/> -->
  <!-- <Waves
		colors={[
			"navy",
			"gallery",
		]}> -->
  <Waves
    botWaveColor="watermelon"
    topWaveColor="navy"
    twGradientColors="dark:from-navy-600 from-navy-400 to-watermelon-700 dark:to-watermelon-900"
  >
    <Section
      title={{
        text: i18n.PROJECTS.TITLE,
        twColor: "text-navy-100 dark:text-navy-200",
      }}
      link={{
        label: i18n.SEE_ALL,
        to: "/projects",
      }}
    >
      <ProjectsWrapper projects={featureProjects} />
    </Section>
    <!-- </Waves> -->
  </Waves>
</Layout>
