---
import { getI18N } from "@/i18n";

const { currentLocale } = Astro;
const i18n = getI18N({
  currentLocale,
});
---

<div class="mx-auto flex items-center text-2xl leading-relaxed">
  <div>
    <span>{i18n.HERO.DESCRIPTION_1} </span>
    {i18n.HERO.DESCRIPTION_2}🏍️,
    {i18n.HERO.DESCRIPTION_3}⚽,
    {i18n.HERO.DESCRIPTION_4}♟️,
    {i18n.HERO.DESCRIPTION_5}🎸
  </div>
</div>
