<!-- ---
import { getInfo, projects } from "@data"

import ProjectsWrapper from "@components/general/ProjectsWrapper.astro"
import BotWave from "@components/home/BotWave.astro"
import Experience from "@components/home/Experience.astro"
import Hero from "@components/home/Hero.astro"
import TopWave from "@components/home/TopWave.astro"
import MyStack from "@components/stack/MyStack.astro"

const featureProjects = projects.filter((project, index) => project.isFeatured && index < 6)
const { currentLocale } = Astro

const info = getInfo(currentLocale)
---

<Hero name={info.name} about={info.about} />

<div class="max-h-[340px] w-full">
	<TopWave />
</div>

<MyStack stack={info.stack} />
<div class="h-32 w-full md:mb-32">
	<BotWave />
</div>

<div class="z-20">
	<Experience title={"EXPERIENCE"} details={info.experience} />
	<Experience title={"EDUCATION"} details={info.education} />
	<Experience title={"VOLUNTEERING"} details={info.volunteering} />
	<Experience title={"LANGUAGES"} details={info.languages} />
	<Experience title={"ADD-ONS"} details={info.addOns} />
</div>
<section>
	<div class="flex items-end justify-between">
		<h2
			class="ml-3 mt-16 border-b text-2xl font-bold text-zinc-600/50 dark:text-zinc-300/50 sm:ml-0 sm:border-none sm:text-xl"
		>
			FEATURE PROJECTS
		</h2>
		<a class="text-xl italic underline underline-offset-4 dark:text-gray" href="/projects"
			>See all</a
		>
	</div>
	<ProjectsWrapper projects={featureProjects} />
</section>
 -->
