---
import { info } from "@data";

import Layout from "@layouts/Layout.astro";
import Hero from "@components/home/Hero.astro";
import Experience from "@components/home/Experience.astro";
import ProjectsWrapper from "@components/general/ProjectsWrapper.astro";
import MetaHead from "@components/general/MetaHead.astro";

const featureProjects = info.projects.map((project, index) => {
  if (project.isFeatured && index < 6) {
    return project;
  }
});
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <MetaHead
      title={"Portfolio"}
      description={info.about}
      ogImageUrl={"/assets/images/profile.png"}
    />
  </head>

  <body>
    <Layout>
      <Hero name={info.name} about={info.about} />
      <Experience title={"EXPERIENCE"} details={info.experience} />
      <Experience title={"VOLUNTEERING"} details={info.volunteering} />
      <Experience title={"EDUCATION"} details={info.education} />
      <Experience title={"LANGUAGES"} details={info.languages} />
      <Experience title={"ADD-ONS"} details={info.addOns} />
      <section>
        <h2
          class="w-[15rem] text-2xl sm:text-xl mt-16 text-zinc-600/50 dark:text-zinc-300/50 font-bold border-b sm:border-none"
        >
          FEATURE PROJECTS
        </h2>
        <ProjectsWrapper projects={featureProjects} />
      </section>
    </Layout>
  </body>
</html>
