---
import { IHeroProps } from "@types";
import enduroImg from "../../assets/icons/motocross.png";
import chessImg from "../../assets/icons/chess.png";
import soccerImg from "../../assets/icons/soccer.png";
import bassImg from "../../assets/icons/bass.png";
import { Image } from "@astrojs/image/components";
const { name } = Astro.props as IHeroProps;
---

<section
  class="text-stone-600 flex flex-col justify-evenly dark:text-stone-300 font-extralight text-lg sm:text-2xl lg:text-3xl h-screen -mt-10"
>
  <div class="flex flex-col gap-10">
    <p class="dark:text-stone-200 mt-[117px]">
      Welcome to my virtual resume! My name is
    </p>

    <h1>{name}</h1>
  </div>
  <div class="mb-14 leading-loose">
    <span
      >A front-end engineer from Barcelona. I am currently learning Astro and
      Typescript, and expanding my knowledge of Nextjs. Out of web development,
      my other passions are
    </span> enduro <Image
      class="inline"
      alt="enduro image"
      src={enduroImg}
      height={30}
      aspectRatio="1:1"
    />, football <Image
      src={soccerImg}
      class="inline"
      alt="soccer image"
      height={25}
      aspectRatio="1:1"
    />
    , chess <Image
      class="inline"
      alt="chess image"
      src={chessImg}
      height={25}
      aspectRatio="1:1"
    /> and bass <Image
      class="inline"
      alt="bass image"
      src={bassImg}
      height={30}
      aspectRatio="1:1"
    />.
  </div>
</section>

<style>
  section {
    @apply max-w-[1112px] mx-auto px-4 md:px-6;
  }
</style>
