---
import { IHeroProps } from "@types";
import enduroImg from "../../assets/icons/motocross.png";
import chessImg from "../../assets/icons/chess.png";
import soccerImg from "../../assets/icons/soccer.png";
import bassImg from "../../assets/icons/bass.png";
import { Image, Picture } from "@astrojs/image/components";
const { name, about } = Astro.props as IHeroProps;
---

<section
  class="text-stone-600 dark:text-stone-300 font-extralight text-lg md:text-xl md:leading-9 leading-12"
>
  <p class="dark:text-light mt-[117px]">
    Welcome to my virtual resume! My name is
  </p>

  <h1>{name}</h1>
  <div class="mb-14">
    <span
      >A front-end engineer from Barcelona. I am currently learning Astro and
      Typescript, and expanding my knowledge of Nextjs. Out of web development,
      my other passions are
    </span> enduro <Image
      class="inline"
      alt="enduro image"
      src={enduroImg}
      height={30}
      width={30}
    />, football <Image
      src={soccerImg}
      class="inline"
      alt="soccer image"
      height={25}
      width={25}
    />
    , chess <Image
      class="inline"
      alt="chess image"
      src={chessImg}
      height={25}
      width={25}
    /> and bass <Image
      class="inline"
      alt="bass image"
      src={bassImg}
      height={30}
      width={30}
    />.
  </div>
</section>

<style>
  section {
    @apply max-w-[1112px] mx-auto px-4 md:px-6;
  }
</style>
