---
import { getI18N } from "@i18n"
import Layout from "@layouts/Layout.astro"
import PageLayout from "@layouts/PageLayout.astro"
import Intro from "./Intro.astro"

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
---

<Layout
	title=`${i18n.SEO_TITLE_1} ${new Date().getFullYear()} ${i18n.SEO_TITLE_2}`
	description={i18n.SEO_DESCRIPTION}
>
	<PageLayout
		title=`${i18n.SEO_TITLE_1} ${new Date().getFullYear()} ${i18n.SEO_TITLE_2}`
		description={i18n.SEO_DESCRIPTION}
	>
		<link
			rel="preload"
			href="/fonts/jura.woff2"
			as="font"
			type="font/woff2"
			crossorigin
			slot="preload"
		/>

		<main>
			<Intro />
		</main>
	</PageLayout>
</Layout>
