---
import { LANGUAGES } from "../i18n/ui";
import { getLangFromUrl, extractLanguageAndRoute } from "../i18n/utils";
import LanguageOption from "./LanguageOption.astro";

const lang = getLangFromUrl(Astro.url);

const currentLocaleData = LANGUAGES[lang];
const otherLocales = Object.values(LANGUAGES).filter(
  (locale) => locale.code !== lang
);

const [_language, pathname] = extractLanguageAndRoute(Astro.url.pathname);
---

<div class="group relative transition-all">
  <button
    type="button"
    class="flex items-center"
    aria-label="select language"
    aria-expanded="true"
    aria-haspopup="true">
    <LanguageOption
      flag={currentLocaleData.flag}
      text={currentLocaleData.name}
    />
  </button>
  <div
    class="group-hover:animate-fade-down group-hover:animate-duration-200 dark:group-hover:bg-shark-900/50 group-hover:bg-gallery-300/30 border-gallery-500 dark:border-shark-500
     absolute right-0 hidden w-12 sm:w-24 flex-col gap-y-2 rounded-lg border-2 px-2 py-3 group-hover:flex group-hover:shadow-xl">
    {
      otherLocales.map((locale) => {
        const path = `/${locale.code}/${pathname}`;

        return (
          <LanguageOption to={path} flag={locale.flag} text={locale.name} />
        );
      })
    }
  </div>
</div>
